.view {
    background: url("../img/desktop.jpg")no-repeat center center;
    background-size: cover;
}
.full-bg-img-analyze {
    background-size: cover;
    height:70%;
    position:absolute;
    top:0;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}
h2#joke {
    text-shadow: 1px 1px 1px #000;
}

.container h1.description {
    text-shadow: 1px 1px 1px #fff;
}

.navbar {
    background-color: #4285F4;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #86d4ff;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

h1#joke {
    text-shadow: 1px 1px 2px #0b0b0b;
}

.analyze-title {
    text-shadow: 1px 1px 0px #fff;
}

.personality-wrapper {
    background: #7DA0B1;
    margin-top:50px;
    padding-top:50px;
}
.sun-burst-wrapper {
    background: #fff;
}

.sector {
    cursor: pointer;
}

h5 b {
    font-weight: 600;
}

h6 b {
    font-weight: 600;
}
#personality_results h1, #personality_results h2, #personality_results h3, #personality_results h4, #personality_results h5, #personality_results h6 {
    margin: 5px 0;
}

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 3px;
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 200px;

}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button a {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
}
#fb-share-button a:hover {
    color:white;
}